<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/components.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
</head>

<body>
  <footer class="site-footer">

    <div class="footer-container">

      <!-- Footer Header -->
      <div class="footer-header">

        <div class="footer-heading">
          <h2>Start discovering global defence opportunities</h2>

          <p>
            Search global defence tenders, download documents and stay informed
            with real-time procurement updates.
          </p>
        </div>

        <a href="#" class="footer-subscribe-btn">
          Subscribe
          <span class="material-symbols-outlined">arrow_forward</span>
        </a>

      </div>


      <!-- Divider -->
      <div class="footer-divider"></div>


      <!-- Footer Main -->
      <div class="footer-main">

        <!-- Brand -->
        <div class="footer-brand">

          <a href="/" class="footer-logo">
            <img src="./assets/footerLogo.png" alt="">
          </a>

          <p>
            Discover and pursue defence tenders and procurement opportunities
            from military, naval, aerospace, and security organizations worldwide.
          </p>

          <a href="#" class="join-link">
            Join us
            <span class="material-symbols-outlined">arrow_forward</span>
          </a>

          <!-- Social Icons -->
          <div class="footer-socials">
            <a href="#" aria-label="YouTube">
              <img src="./assets/SVG/youtube.svg" alt="YouTube">
            </a>

            <a href="#" aria-label="Facebook">
              <img src="./assets/SVG/facebook.svg" alt="Facebook">
            </a>

            <a href="#" aria-label="Twitter">
              <img src="./assets/SVG/twitter.svg" alt="Twitter">
            </a>

            <a href="#" aria-label="Instagram">
              <img src="./assets/SVG/instagram.svg" alt="Instagram">
            </a>

            <a href="#" aria-label="LinkedIn">
              <img src="./assets/SVG/linkedin.svg" alt="LinkedIn">
            </a>
          </div>

        </div>


        <!-- Tenders -->
        <div class="footer-column">

          <h3>TENDERS</h3>

          <ul>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>Latest tenders</a></li>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>Featured opportunities</a></li>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>Closing soon</a></li>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>By country</a></li>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>By industries</a></li>
          </ul>

        </div>


        <!-- Support -->
        <div class="footer-column">

          <h3>SUPPORT</h3>

          <ul>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>About us</a></li>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>Request A demo</a></li>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>Contact us</a></li>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>Faqs</a></li>
          </ul>

        </div>


        <!-- Resources -->
        <div class="footer-column">

          <h3>RESOURCES</h3>

          <ul>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>Sample tenders</a></li>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>How it works</a></li>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>Success stories/blogs</a></li>
          </ul>

        </div>


        <!-- Pricing -->
        <div class="footer-column">

          <h3>PRICING</h3>

          <ul>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>Plans</a></li>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>Free trials</a></li>
            <li><a href="#"><span class="material-symbols-outlined">
chevron_forward
</span>Enterprise plan</a></li>
          </ul>

        </div>

      </div>


      <!-- Bottom Divider -->
      <div class="footer-divider"></div>


      <!-- Footer Bottom -->
      <div class="footer-bottom">

        <p>
          Copyright © 2026 defence tenders. All rights reserved.
        </p>

        <div class="footer-legal">
          <a href="#">Terms &amp; condition</a>
          <a href="#">Privacy policy</a>
          <a href="#">Cookie policy</a>
        </div>

      </div>

    </div>

  </footer>
</body>

</html>