<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

</head>

<body>
    <header>
        <div class="container">

            <nav>

                <!-- LOGO -->
                <div class="logo">
                    <img src="./assets/Logo_DT.png" alt="TENDERS">
                </div>


                <!-- MOBILE MENU BUTTON -->
                <button class="menu-toggle" aria-label="Open Menu" aria-expanded="false">
    <span class="material-symbols-outlined">
        menu
    </span>
</button>


                <!-- NAVIGATION -->
                <div class="navigation">

                    <!-- LEFT -->
                    <div class="left">

                        <ul class="main-menu">

                            <!-- TENDERS -->
                            <li class="nav-dropdown">

                                <a href="#">
                                    Tenders

                                    <span class="material-symbols-outlined">
                                        keyboard_arrow_down
                                    </span>
                                </a>

                                <ul class="submenu">

                                    <li>
                                        <a href="#">
                                            Latest Tenders
                                            <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Featured Opportunities <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Closing Soon <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            By Region <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            By Country <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="">
                                            By Industries<span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </a>
                                    </li>

                                </ul>

                            </li>


                            <!-- RESOURCES -->
                            <li class="nav-dropdown">

                                <a href="#">
                                    Resources

                                    <span class="material-symbols-outlined">
                                        keyboard_arrow_down
                                    </span>
                                </a>

                                <ul class="submenu">

                                    <li>
                                        <a href="#">
                                            Sample Tenders <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            How It Works <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Success Stories <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Industry Insights / Blogs <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </a>
                                    </li>

                                </ul>

                            </li>


                            <!-- PRICING -->
                            <li>
                                <a href="../pages/pricing.html">
                                    Pricing
                                </a>
                            </li>


                            <!-- ABOUT US -->
                            <li class="nav-dropdown">

                                <a href="#">
                                    About Us

                                    <span class="material-symbols-outlined">
                                        keyboard_arrow_down
                                    </span>
                                </a>

                                <ul class="submenu">

                                    <li>
                                        <a href="#">
                                            Company Overview <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Why Defence Tenders <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            Global Coverage <span class="material-symbols-outlined">
                                                chevron_right
                                            </span>
                                        </a>
                                    </li>

                                </ul>

                            </li>

                        </ul>

                    </div>


                    <!-- RIGHT -->
                    <div class="right">

                        <a href="#" class="signIn">

                            <span class="material-symbols-outlined">
                                person
                            </span>

                            Sign In

                        </a>

                        <div class="line"></div>

                        <button class="demo-btn">
                            Get Free Demo <span class="material-symbols-outlined">
                                arrow_forward
                            </span>
                        </button>

                    </div>

                </div>

            </nav>

        </div>
    </header>
    

    
</body>

</html>